.teble-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  text-align: center;
  /*inline-size: auto;
  position: sticky;*/
}

.Header:hover {
  color: red;
  cursor: pointer;
}

td {
  text-align: center;
}

form {
  display: flex;
  gap: 5px;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}
form * {
  font-size: 28px;
}

.Search{
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 28px;
}
#root > div > div.Search > input{
  width: 40%;
  font-size: 28px;
}

#root > div > div:nth-child(4) > select{
  width: 10%;
  font-size: 28px;
}
.Header img{
  width: 30px;
  margin-left: 5px;
}

.Header img:hover {
  
  cursor: pointer;
}
